{% extends 'base.html' %}

{% block title %} Shop {% endblock %}

{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
      <div
        class="d-flex flex-column align-items-center justify-content-center"
        style="min-height: 300px"
      >
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Our Shop</h1>
        <div class="d-inline-flex">
          <p class="m-0"><a href="">Home</a></p>
          <p class="m-0 px-2">-</p>
          <p class="m-0">Shop</p>
        </div>
      </div>
    </div>
    <!-- Page Header End -->

    <!-- Shop Start -->
    <div class="container-fluid pt-5">
      <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-12">
          <h5 class="font-weight-semi-bold mb-4">Filter by Category</h5>
          {% for i in categories %}
          <a href="{{url_for('shop')}}{% if not request.args.get('category') %}?category={{i.id}}{% else %}{% endif %}" class="nav-item nav-link">{{i.name}}    <span> ({{i.products|length}})</span> </a>
          {% endfor %}
        </div>
        <!-- Shop Sidebar End -->

        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-12">
          <div class="row pb-3">
            {% for i in products %}
            <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
              <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0" >
                  <img class="img-fluid w-100" src="{{ url_for('static', filename= i.image )}}" alt="" />
                </div>
                <div
                  class="card-body border-left border-right text-center p-0 pt-4 pb-3"
                >
                  <h6 class="text-truncate mb-3">{{i.name}}</h6>
                  <div class="d-flex justify-content-center">
                    {% if i.discounted_price %}
                    <h6>${{i.discounted_price}}</h6>
                    <h6 class="text-muted ml-2"><del>${{i.price}}</del></h6>
                    {% else %}
                    <h6>${{i.price}}</h6>
                    {% endif %}
                  </div>
                </div>
                <div
                  class="card-footer d-flex justify-content-between bg-light border"
                >
                  <a href="./detail.html" class="btn btn-sm text-dark p-0"
                    ><i class="fas fa-eye text-primary mr-1"></i>View Detail</a
                  >
                </div>
              </div>
            </div>
            {% endfor %}
            <div class="col-12 pb-1">
              <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center mb-3">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <!-- Shop Product End -->
      </div>
    </div>
    <!-- Shop End -->
{% endblock %}